:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #093441;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tablero {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.tablero h1 {
  color: #eee;
  font-size: 40px;
  margin-bottom: 20px;
}

.tablero button {
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 150px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.tablero button:hover {
  background: #eee;
  color: #222;
}

.tablero .juego {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turno {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turnoDe{
  font-size: 30px;
  margin: 20px;
}
.turno .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: rgb(255, 255, 255);
  background: rgb(243, 99, 42);
}

.ganador {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.ganador .text {
  background-color: #093441;
  height: 400px;
  width: 420px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ganador .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 120px;
  height: 120px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 60px;
  
}


@media screen and (max-width : 600px) {
    .tablero h1 {
      font-size: 25px;
    }

    .turno .square,
    .winner .square {
      width: 40px;
      height: 40px;
    }

    .turnoDe{
      font-size: 20px;
      margin: 20px;
    }

    .ganador .text {
      height: 280px;
      width: 280px;
    }

    .tablero button {
      padding: 8px 12px;
      margin: 25px;
      width: 150px;
    }

    .square {
      width: 90px;
      height: 90px;
      font-size: 30px;
    }
}